<nav class="barra-superior">
   <div class="nav-wrapper grey lighten-3 grey-text text-darken-4">
     <!-- <ul id="nav-mobile" class="left hide-on-med-and-down">
       <li><a class="grey-text text-darken-4" routerLink=""></a></li>
       <li><a class="grey-text text-darken-4" routerLink="">Voltar</a></li>
       <li><a class="grey-text text-darken-4" routerLink=""></a></li>
       <li><a class="grey-text text-darken-4" routerLink=""></a></li>
     </ul> -->
   </div>
 </nav>
<div class="sobre" align="center">
  <div class="row">
    <div class="card-panel light-blue darken-4  white-text col s8 offset-s2">
      <h4>{{'foo 42' | match: '[\\d]+$': 'g' }}</h4>
      <h4>Trabalho de Projeto de Banco de Dados</h4>
      <p>Desenvolvido por:</p>
      <p>Amanda Louzada, Barbara Romero, Bruna Coqui e Timoteo Holanda.</p>
    </div>
  </div>
</div>
