<nav class="barra-superior">
   <div class="nav-wrapper grey lighten-3 grey-text text-darken-4">
     <ul id="nav-mobile" class="left hide-on-med-and-down">
       <li><a class="grey-text text-darken-4" routerLink=""></a></li>
       <li><a class="grey-text text-darken-4" routerLink="">Voltar</a></li>
       <!-- <li><a class="grey-text text-darken-4" routerLink=""></a></li>
       <li><a class="grey-text text-darken-4"  routerLink=""></a></li> -->
     </ul>
   </div>
 </nav>

<div class="row">
  <form #form="ngForm" (ngSubmit)="upload()">
    <div class="col m4">
      <div class="file-field input-field">
        <div class="btn">
          <span>Escolher arquivo</span>
          <input type="file" id="upload" name="upload">
        </div>
        <div class="file-path-wrapper">
          <input type="text" class="file-path validate">
        </div>
      </div>
    </div>
    <div class="col m4">
      <button class="waves-effect waves-light btn" type="submit">Enviar</button>
    </div>
  </form>
</div>


<br/>
<button class="waves-effect waves-light btn" (click)="getCabecalho()">Tabela</button>
<table class="highlight bordered">
  <thead>
    <tr>
      <th *ngFor="let c of cabecalho">{{c}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let linha of linhas | objeto">
      <td *ngFor="let l of linha | keys">{{l.value}}</td>
    </tr>
  </tbody>
</table>
<ul class="pagination">
  <li class="waves-effect"><a href="#"><i class="material-icons"><</i></a></li>
  <li class="waves-effect"><a (click)="getLinhas(1)">1</a></li>
  <li class="waves-effect"><a (click)="getLinhas(2)">2</a></li>
  <li class="waves-effect"><a (click)="getLinhas(3)">3</a></li>
  <li class="waves-effect"><a (click)="getLinhas(4)">4</a></li>
  <li class="waves-effect"><a (click)="getLinhas(5)">5</a></li>
  <li class="waves-effect"><a (click)="getLinhas(6)">6</a></li>
  <li class="waves-effect"><a (click)="getLinhas(7)">7</a></li>
  <li class="waves-effect"><a (click)="getLinhas(8)">8</a></li>
  <li class="waves-effect"><a (click)="getLinhas(9)">9</a></li>
  <li class="waves-effect"><a (click)="getLinhas(10)">10</a></li>
  <li class="waves-effect"><a (click)="getLinhas(11)">11</a></li>
  <li class="waves-effect"><a (click)="getLinhas(12)">12</a></li>
  <li class="waves-effect"><a (click)="getLinhas(13)">13</a></li>
  <li class="waves-effect"><a (click)="getLinhas(14)">14</a></li>
  <li class="waves-effect"><a (click)="getLinhas(15)"><i class="material-icons">></i></a></li>
</ul>
