.barra-lateral {
    width: 70px !important;
}

.barra-superior {
    padding-left: 70px !important;
    height: 50px !important;
    line-height: 50px;
    color: rgba(0,0,0,0.87);
}

.conteudo {
    padding-left: 75px !important;
}

.side-nav li>a {
    color: rgba(0,0,0,0.87);
    padding: 0 12px;
}
