<ul id="slide-out" class="side-nav fixed barra-lateral grey lighten-3 grey-text text-darken-4">
  <li><a routerLink=""></a></li>
 <li><a routerLink=""><i class="material-icons">view_list</i></a></li>
 <li><a routerLink="/inserir"><i class="material-icons">input</i></a></li>
 <li><a routerLink="/tabela"><i class="material-icons">view_list</i></a></li>
 <li><a routerLink="/tabelas"><i class="material-icons">view_list</i></a></li>
 <li><a routerLink="tabela-consulta"><i class="material-icons">view_list</i></a></li>
</ul>

<div class="conteudo">
  <router-outlet></router-outlet>
</div>
