<ul id="slide-out" class="side-nav fixed barra-lateral">
  <li><a routerLink=""></a></li>
 <li><a routerLink=""><i class="material-icons">view_list</i></a></li>
 <li><a routerLink="/inserir"><i class="material-icons">input</i></a></li>
</ul>
<nav class="barra-superior">
   <div class="nav-wrapper grey lighten-3">
     <ul id="nav-mobile" class="left hide-on-med-and-down">
       <li><a routerLink=""></a></li>
       <li><a routerLink=""></a></li>
       <li><a routerLink=""></a></li>
       <li><a routerLink=""></a></li>
     </ul>
   </div>
 </nav>
<div class="conteudo">
  <router-outlet></router-outlet>
</div>
