  <ul class="pagination">
    <li class="waves-effect" *ngIf="pagina!==1">
      <a href="#" (click)="paginar(1, $event)">
        <i class="material-icons">skip_previous</i>
      </a>
    </li>
    <li class="waves-effect" *ngIf="pagina!==1">
      <a href="#" (click)="paginar(pagina-1, $event)">
        <i class="material-icons">chevron_left</i>
      </a>
    </li>
    <li class="waves-effect" *ngFor="let i of paginas" [ngClass]="{'active': i===pagina}">
      <a href="#" (click)="paginar(i, $event)">
        {{i}}
      </a>
    </li>
    <li class="waves-effect" *ngIf="exibirProximo">
      <a href="#" (click)="paginar(pagina+1, $event)">
        <i class="material-icons">chevron_right</i>
      </a>
    </li>
    <li class="waves-effect" *ngIf="exibirProximo">
      <a href="#" (click)="paginar(qtdPaginas, $event)">
        <i class="material-icons">skip_next</i>
      </a>
    </li>
  </ul>
  <p>Total de registros: <strong>{{ totalRegistros }}</strong></p>
